# =============================================================
# Variables d'environnement — CST Frontend PROD
# =============================================================

NODE_ENV=production
NEXT_TELEMETRY_DISABLED=1

NEXT_PUBLIC_SITE_URL=https://cst.ecc.bj
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_DATA_SOURCE=mock

PORT=3000
HOSTNAME=0.0.0.0
